.loginBody{
    background:rgb(168, 240, 255);
    color: black;
    min-height: 100vh;
}
.formBody{
    background-color: aliceblue;
    min-height: 40vh;
    line-height: 42px;
    width: 390px !important;
    text-align: left;
}